

# Игнорировать файлы, созданные редакторами кода и IDE (например, VS Code, PyCharm, Sublime Text)
.vscode/
.idea/
*.pyc

# Игнорировать файлы сборки и временные файлы
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.log
*.swp
*.bak

# Игнорировать медиа-файлы (например, изображения, видео, аудио), если они хранятся внутри проекта
media/

# Игнорировать статические файлы (например, CSS, JavaScript, изображения), если они хранятся внутри проекта
staticfiles/